certifi
charset-normalizer
click
DateTime
Flask
Flsak-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
nodejs
numpy
pandas
python-dateutil
pytz
requests
six
SQLAlchemy
typing_extensions
tzdata
urllib3
Werkzeug
WTForms
zope.interface


# for server
gunicorn
requests
