
/* This file contains the variables for the css styles. 
   The variables are used in the css files to make the 
   design more flexible and easier to change. */



:root {
    
    /* -----------------  DIMENSIONS  ---------------- */

   --d-head-height: 45px;
   --d-settings-player: 50px;
   --d-input-row: 40px;
   --d-full-max: 1000px;


   /* -------------------  COLORS  ------------------- */



   /* background */  

   --b-head:   #252525ce;
   --b-foot:   #252525;
   --b-basic:  #ffcaaa;
   --b-basic-g: linear-gradient(163deg, #ffcaaa 13%, #daffed 79%);
   --b-grade-2: linear-gradient(to bottom right, 
   rgb(126, 109, 255),rgba(255, 202, 145, 0.93));


   --b-std:    #ffffff86;  
   --b-white:  #ffffff;   
   --b-grey:   #d2d2d2;
   --b-yellow: #f0ca40;
   --b-yellow-dark: #98812c;
   --b-dirty: #783906;
   --b-purple: #6959e0;
   --b-subtile: #ffedcd5c;

 
   --b-tab:    #1d1d1d68;
   --b-tab-a:  #181818;
   --b-tab-h:  #000000;
   --b-button: #b3b3b3c7; 
   --b-pop:    #252525eb;
   --b-info:   #f9f9f9f1;
   --b-input:  #d3e2ff;


   /* text */

   --t-head:   #ffffff;
   --t-group:  #ff9334;

   --t-std:    #000000;
   --t-light:  #232323;

   --t-h1:     #1a1a1a;
   --t-h1-s:   #1a1a1a;
   --t-h2:     #1a1a1a;
   --t-h3:     #1a1a1a;

   --t-input:  #00044d;
   --t-pop:    #ffffff;
   --t-table:  #000000;





   /* links */
   --a-text:   #0000ff;
   --a-hover:  #0000ff;
   --a-shadow: #0000ff;



   /* highlights */

   --h-1:      #c6d356;
   --h-2:      #b3420e; 
   --h-red:    #ac1a1a; 
   --h-green:  #208320;



   /* borders */

   --o-std:    #000000;
   --o-input:  #505b84;
   --o-tab:    #ffffff63;
   --o-tab-a:  #ffffff;
   --o-tab-h:  #ffe15b;


   /* data visualization */

   --p0:       #60d2ff; 
   --p1:       #4a74ff; 
   --p2:       #53eba4; 
   --p3:       #2799bf; 
   --p4:       #9aff9a; 
   --p5:       #5a73ff; 
   --p6:       #735ee6; 
   --p7:       #4df7b0;


   /* player colors NOT USED - only for review */

   --p-0:      #d04fa1;
   --p-1:      #007c59;
   --p-2:      #cf7437;
   --p-3:      #25b922;
   --p-4:      #cabc22;
   --p-5:      #b21a1a;
   --p-6:      #3925a5;
   --p-7:      #228ad0;
   --p-8:      #8a37a0;
   --p-9:      #31b1b5;
   --p-10:     #df5e6b;


}