
:root {
    --c-back: #141c2c; --c-head: #05060fce;
    --title: #ff4070; --reg: #e7e9f1; --light: #ffffff; --titleglow: #ff4070;
    --c-dark: #02050d; --c-medium: rgb(41, 50, 119); 
    --c-white: #e7e9f1; --c-light: #a0aad3;
    --c-1: #e5d352; --c-2: #8075ff;
    
    --c-danger: rgb(172, 26, 26); --c-sucess: #208320;}
  

body {
    background-color: var(--c-back);
    font-family: 'Dotum', sans-serif;
    padding: 20px;
    font-size: 12pt;
    text-align: center;
    color:var(--reg);}



h1 { text-align: left;
    color: var(--title);
    size: 32pt;
    letter-spacing: 0.2em;
    text-shadow: 0 0 0.8em var(--title);}

h2 {
    color: var(--c-1);
    size: 20pt;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    text-shadow: 0 0 2em var(--c-1);}

h3 {
    color: var(--c-2);
    size: 14pt;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 0.2em;}

    
a { text-align: center;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    padding: 20px;
    color: inherit;}

a:hover {
    background-color: var(--c-1);
    min-width: fit-content;
    color:black;
    box-shadow: 0 0 3px var(--c-1);}

div {
    text-align: center;
    padding: 10px;
    border-radius: 5px;}

p { border-radius: 5px;}


.location { grid-area: loc;}

.description { grid-area: desc; }

.loc-form { grid-area: frm; }

.loc-container {
    display: grid;
    grid-template-areas: 
      'loc loc  loc desc desc desc desc desc frm';
    column-gap: 5px;
    background-color: var(--c-light);
    padding: 5px; }

 .loc-container > div.location {
     text-align: right; }

 .loc-container > div {
    background-color: var(--c-light);
    text-align: left;}


input.up {
    background-color: var(--c-sucess);}

input.del {
    background-color: var(--c-danger);}