
/*  This file is used to style the general elements of the 
    gamebook app used on most pages. */


@import url("styles_root.css");
@import url("styles_var.css");
  


/*  CONTENTS


        ---- General ----

        > TEXT
        > CONTAINERS
        > LINKS
        > TABS
        > TABLES
        > FORMS


        ----- Specific ------

        > media
        > color choices
        > unknown
        > ERROR pages

*/





/*  ############################################

                        GENERAL 
    
    ############################################  */



/* ----------------  CONTAINERS  --------------- */
    


div {
    text-align: center;
    padding: 10px;
}


.fullDiv {
    width: 100%;
    padding: 20px;
    margin: 0;
    text-align: center;
    justify-content: center;
}

.midDiv {
    max-width: var(--d-full-max);
    width: 100%;
    overflow: auto;
    padding: 20px 0;
    margin: 20px auto;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
}

@media screen and (max-width: 1024px) {
    .midDiv {
        padding: 20px 0;
        margin: 20px 0;
        border-radius: 0;}
}


.lightDiv {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    background-color: var(--b-white-tr);
    color: var(--t-std);
    text-align: center;
}


.canvasDiv {
    display: block;
    justify-items: center;
    align-content: center;
    min-width: 400px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: auto;
}



.titleDiv {
    padding: calc(var(--d-head-height) + 20px) 20px 30px;
}


#filterDiv {

    p {
        border: 1px dashed var(--b-white-tr);
    }

    button, a {
        background-color: var(--b-dark-tr);
    }

    button, p, a {        
        display: inline-block;
        color: var(--t-white);
        margin: 5px;
        padding: 15px 10px;
        border-radius: 5px;
        letter-spacing: 0.1rem;
        text-align: center;
        min-width: 50px;
        height: 50px;
    }
}


.userFeedback {
    display: none;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    background-color: var(--b-info); 
    border: 1px dotted var(--t-light);
    color: var(--t-light);  
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    text-align: center;

    button {
        border-color: var(--t-light);
        color: var(--t-light);
    }
}


.infoShow {
    display: block !important;
}




/* ----------------  POP UPs  --------------- */


.popUp {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    backdrop-filter: blur(5px);
    overflow: auto;

    .popUpContent {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 300px;

        padding: 20px;
        border-radius: 5px;
        border: 1px solid var(--t-white) !important;
        background-color: var(--b-popup);
        color: var(--t-white);
        z-index: 10;
        box-shadow: 0 0 10px 5px var(--s-shadow);
    
    * p {
        margin: 10px auto;
        color: var(--t-white);}

    }


    .popHead {
        display: flex;
        width: 100%;
        max-width: 100%;
        padding: 0 0 20px;
        margin-bottom: 15px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--b-white-tr);

        p { text-align: left;
            color: var(--t-white);
            width: auto;
            padding: 0;
            margin: 0;
            text-wrap: wrap;
            font-size: 1.1rem;
            text-transform: uppercase;
            letter-spacing: 0.2rem;}        

        button {
            font-weight: bold;
            font-size: 1.5rem;
            text-align: right;
            background-color: transparent;
            color: var(--t-white);
            cursor: pointer;
            border: none;
            padding: 0;
            margin: 0;
            min-width: 50px;}}
}


.acceptBtn {
    margin: 0;
    padding: 0;
    cursor: pointer;
    min-height: 30px;

    input { 
        border-radius: 5px;
        background-color: var(--t-white);}}


/* ------------------  LINKS  ------------------ */



a { 
    text-decoration: none;
    color: var(--t-std);
}


a:hover, button:hover {
    cursor: pointer;
    text-decoration: none; 
    color: var(--s-hover);
}


a:visited, a:active {
    color: inherit;
    background-color: inherit; 
}

.mainLink {
    display: flex;
    justify-content: center;
    color: var(--t-white) !important;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    }

.pageLink {     
    border: 1px solid var(--t-std);
    border-radius: 5px;
    padding: 15px;
    margin: 5px;

    color: var(--t-std);
    background-color: transparent;
    border-color: var(--t-std);

    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none; 
    text-align: center;
    align-content: center;
}





/* --------------------  TABS  ------------------- */


.tab {
    overflow: hidden;
    padding: 0;
    border-radius: 5px;
}

.tabButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.tab button {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    float: center;

    margin: 15px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    min-width: 150px;

    background-color: var(--b-dark-tr);
    color: var(--t-white);
    font-weight: bold;
    letter-spacing: 2px;
    border: 1px solid var(--c-grey-tr);
    border-radius: 5px; 
}
    

.tab button:hover, .tab button.active {
    border: 1px solid var(--s-hover); 
    color: var(--s-hover);
    img {
        filter: invert(0.8) sepia(0.8) saturate(10) hue-rotate(0deg);}
}


.tab button.active {
    background-color: var(--b-dark);
}


.tabcontent {
    display: none;
    padding: 0;
    margin: auto;
} 


@media screen and (max-width: 480px) {

    .tab button {
        margin: 5px;
        padding: 10px;

        img {
            height: 25px;}
    }
}



/* -------------------  TABLES  ------------------ */


table {
    border-collapse: collapse;
    width: 100%;
    padding: 15pt;
    table-layout: fixed ; 
    overflow: scroll;
    max-width: var(--d-full-max);

    caption {
        font-size: 0.9rem;
        font-weight: bold;
        padding: 20px auto;
        line-height: 30px;
        text-align: center;
    }
}


td {
    text-align: left;
    padding: 5px;
    font-size: 0.9rem;
}

th {
    line-height: 30px;
    text-align: left;
    padding: 20px auto 10px;
    min-height: 30px;
    text-transform: uppercase;
    border-bottom: 5px solid var(--b-white-tr);
}

tr {
    border-bottom: 1px solid var(--c-grey-tr);
}

tr.active-row {
    line-height: 2rem;
    border: 1px solid var(--s-hover);
    background-color: inherit;
}






/* -------------------  FORMS  ------------------ */



input.up {
    background-color: var(--h-green);
}


input.del {
    background-color: var(--h-red);
}


input {
    text-align: center;
    cursor: text;
    font-size: 1.2em;
}      


input, select, textarea {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 25px;
    min-width: 50px;
    margin: 0;
    padding: 0;
    color: var(--i-text);
    background-color: var(--i-background);
    border: 1px solid var(--i-border);
}

textarea {
    min-height: 50px;
}



.submitBtn {
    padding:0;
    margin: 20px 0;
    width: 100%;

    input {
        margin: 0;
        height: 40px;
        background-color: var(--t-white);
        border-radius: 5px;
        font-weight: bold;}
}


/*  ############################################

                     SPECIFIC 
                     
    ############################################  */




/* ------------------  MEDIA  ------------------ */



.imgDiv {
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.inlineImg {
    display: inline-block;
    width: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: invert(1);
}


.imgSlider {
    overflow: auto;
    white-space: nowrap;

    img {
        display: inline-block;
        max-height: 400px;
        width: auto;
        height: 100%;
        object-fit: contain;
        padding: 0;
        margin: 0 15px;
        border-radius: 5px;
        border: 1px solid var(--b-dark);}
}


.giphyImg {
    background-color: transparent;
    padding: 0;
    height: 100%;
    
    img {
        width: 100%;
        object-fit: contain; }
    
    p {
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 10px;     
}}


.giphyBg {
    background-color: var(--b-dark);
    padding: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
}



/* ----------------  Color Choices  -------------- */


.displayColors {
    display: inline-flex; 
    width: 100px; 
    height: 30px; 
    margin: 5px; 
    padding: 5px; 
    justify-content: center;     
    color: var(--t-white); 
}




/* -------------------  ERROR  ----------------- */



#errorPage {
    display: block;
    padding: 0;
    
    div {
        border-radius: 0;}
}


#errorText {
    display: block;
    text-align: center;    
    padding: 20px;
    align-items: top;
    
    p {
        text-align: space-around;
        font-size: 5em;
        padding: 30px 0;
        margin: 0;
        font-weight: bold; }
    
    a {
        display: inline-block;

        margin: 20px;
        height: 4em;
        width: 67%;

        background-color: var(--b-dark);
        color: var(--t-white); 
}}


@media screen and (min-width: 800px) {

    #errorPage {
        display: flex;
        height: 100vh;
        
        div {
            width: 50%;
            align-items: stretch;}}
        
    #errorText p {
        font-size: 10em;
        padding: 80px 0;

        a {
            display: inline-block;
            width: 30%;
}}}



/* ------------------  unknown  ------------------ */


.location { grid-area: loc;}

.description { grid-area: desc; }

.loc-form { grid-area: frm; }

.loc-container {
    display: grid;
    grid-template-areas: 
    'loc loc  loc desc desc desc desc desc frm';
    column-gap: 5px;
    background-color: var(--b-dark-tr);
    padding: 5px; 
    text-align: center;}

.rounds_chart {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2px;
    padding: 10pt 0pt;}

.rounds_bar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 0px;}





