
/* This file contains the variables for the css styles. 
   The variables are used in the css files to make the 
   design more flexible and easier to change. */



:root {
    
/* -----------------  DIMENSIONS  ---------------- */

   --d-head-height:     45px;
   --d-settings-player: 40px;
   --d-input-row:       25px;
   --d-full-max:        1024px;



/* -------------------  COLORS  ------------------- */


/* ############  special  ############ */

   --s-shadow: #1b1b1b8d; 

   /* highlights */
   --s-hover:  #fff826;
   --s-yellow: #f0ca40;
   --s-red:    #ac1a1a; 
   --s-green:  #208320;

   /* inputs */
   --i-text:   #00022e;
   --i-border: #505b84;
   --i-background: #b7cfff;



/* ############  colors  ############ */

   --c-white:  #ffffff;   
   --c-grey:   #d2d2d2;
   --c-grey-tr: #d2d2d2c7;

   --c-yellow: #f0ca40;
   --c-yellow-tr: #ffe89477;
   --c-yellow-dark: #98812c;
   --c-dirty:  #923908;

   --c-purple: #6959e0;
   --c-blue:   #0a22f2;
   --c-blueish: #125aa1;
   --c-blueish-dark: #0d2c4b;
   --c-blue-dark: #0c177f;
   --c-deep-blue-tr: #100841ca;


/* ############  background  ############ */  

   --b-white-tr: #ffffff86;
   --b-dark:   #252525;
   --b-dark-tr: #00000091;
   --b-black-tr: #000000a7;
   --b-subtile: #ffedcd5c;

   --b-head:   #212121da;
   --b-foot:   #252525;   
   --b-menu:   #474747f2;
   --b-info:   #eaeaeaf1;
   --b-popup:  #252525;
   
   /* gradients */
   --bg-base: linear-gradient(to bottom right, #ecb959, #8059ec);
   --bg-out: linear-gradient(to bottom right, #7e6dff, #ffcf91);
   --bg-in: linear-gradient(to bottom right, #ffa498, #7658e3);
   --bg-play: linear-gradient(to bottom right, #131e3a,#38172c);
   --bg-login: linear-gradient(to bottom right, #ffc533, #726dffab);

   

/* ############  text  ############ */

   --t-std:    #000000;
   --t-light:  #232323;
   --t-white:  #ffffff;
   --t-head:   #ffffff;



/* ############  else  ############ */



/* player colors NOT USED - only for review */

   --p-0:      #d04fa1;
   --p-1:      #007c59;
   --p-2:      #cf7437;
   --p-3:      #25b922;
   --p-4:      #cabc22;
   --p-5:      #b21a1a;
   --p-6:      #3925a5;
   --p-7:      #228ad0;
   --p-8:      #8a37a0;
   --p-9:      #31b1b5;
   --p-10:     #df5e6b;


}