
<!DOCTYPE html>
<html>


  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta lang="en-US" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>GamesBook</title>    
    <meta name="Save the analogue games you play with friends or familiy." 
      content="GamesBook">    
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    
    <link rel="icon" type="image/png" href="../static/media/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="../static/media/favicon/favicon.svg" />
    <link rel="shortcut icon" href="../static/media/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../static/media/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="../static/media/favicon/site.webmanifest" />

    <link rel="stylesheet" href="../static/styles_main.css">
    <script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
    

  </head>


  <body 
    style="background-image: url('../static/media/gamebook_bg_c3.jpg">
      
    

    <header>
      <div id="header">
      

        <div class="headerBox">
          
          <a
            onclick="goBack()" 
            class="navIcon" 
            title="Return to previous page">
              &hookleftarrow;
          </a>
          
          <a href="/"
            title="Home" class="navIcon">
              <img id="homeIcon" 
                src="../static/media/favicon/favicon-96x96.png" 
                alt="Go to Home">
          </a>

        </div>
          
          
        <p>
          {{ page_html[1] }}
        </p>


        <div class="headerBox">

          <a href="/about"
            title="About" class="navIcon menuText">
              ABOUT</a>


          <a href="/login" 
            title="Login" 
            id="logIcon" class="navIcon"
            style="margin-top: -0.4rem;">
              &#x2386;
          </a>


        </div>

      </div>



      <nav>

        <button id="navButton"
          onclick='toggle_nav()'>
            &#9776;
        </button>


        <div id="navDrop" class="navContent">

          <p>MENU</p>
          <a href="/">&#x2023; Home</a>
          <a href="/random_group">&#x2023; Test GamesBook</a>
          <a href="/about">&#x2023; About & Contact</a>
          <hr>
          <a href="/login">&#x2023; Login</a>
          <a href="/register">&#x2023; Register</a>
        
        </div>

      </nav>



      <a class="goUp"  title="Go to top"
        onclick="topFunction()">
            &UpArrowBar;
      </a>   
      
    </header>



    {% block content %}
    {% endblock %}



    <footer>

      <div >
        <p style="font-weight: bold; 
          margin-bottom: 30px; margin-top: 40px;">
          GamesBook.site</p>
        <p><a href="/">Home</a><br></p>
        <p><a href="/about">About & Contact</a></p>
        <p><a href="/random_group">Test it</a><br></p>   
      </div>

      <div>
        <p style="font-weight: bold; 
          margin-bottom: 30px; margin-top: 40px;">
          Start here</p>
        <p><a href="/login">Login</a><br></p>
        <p><a href="/register">Register</a></p>
      </div>

    </footer>


  </body>

</html>