
<!DOCTYPE html>
<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta lang="en-US" charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>GamesBook</title>    
  <meta name="Save the analogue games you play with friends or familiy." 
    content="GamesBook">    
  <meta name="apple-mobile-web-app-title" content="MyWebSite" />
  
  <link rel="icon" type="image/png" href="../static/media/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="../static/media/favicon/favicon.svg" />
  <link rel="shortcut icon" href="../static/media/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="../static/media/favicon/apple-touch-icon.png" />
  <link rel="manifest" href="../static/media/favicon/site.webmanifest" />

  <link rel="stylesheet" href="../static/styles_main.css">
  
</head>


  <body>

    {% block content %}
    {% endblock %}

  </body>


</html>