{% extends base %}
{% block content %}
  <h1>About the GameBook Project</h1><br>
    
  <div style = 'text-align:justify; size:14pt;'>
    <p style='text-align:block; white-space: pre-line;'>{{ about_info }}</p><br>
    <h3 style='text-align:left;'>Insights
    </h3><p>
      This is a non-commercial Data Science portfolio project. 
      That is why it is fully free of fees or advertisements. 
      The data you enter is stored non-personalized and only used for this one app. 
      The app uses Flask frameworks and is hosted on a dedicated AWS server (US).
    </p><br>
    <h3 style = 'text-align:left; text-transform: none;'>Have fun playing!!</h3>
    <br><br><br>

    
    <a class='a-small-3'
        href = 'https://www.datascienceportfol.io/Luise_strathe'
        target="_blank" rel="noopener noreferrer">
        Developer Profile & Contact</a>  

  </div><br><br><br><br>

  <a class='a-small-2' href='/'>
    Back Home</a><br><br>


{% endblock %}