<!DOCTYPE html>
<html>
  
  {% include '_head.html' %}
  {% block head %}
  {% endblock %}

  <body>
    <link rel="stylesheet" href="../static/styles.css">
    <div style="position:fixed; top:0; right:0; width:100%; color:var(--light);
      padding: 10px; text-align:right; background:var(--c-head);">

      <a href="/">GROUP</a>
      | 
      <a href="/gamebook">GAMEBOOK</a>  
      | 
      <a href="/about">ABOUT</a>    
    
    </div><br><br>

    {% block content %}
    {% endblock %}

  </body>
</html>

