
{% extends '__head_basic.html' %}


{% block content %} 

     <div id='errorPage'>

          <div class='giphyImg'
               style='background-color:#eb636e;'>

               <img src="https://media.giphy.com/media/JQUvC14KMN7UPQwEVb/giphy.gif">
               
               <p><a target="_blank"
                    href="https://giphy.com/gifs/SappySealsCommunity-sappy-1-of-one-JQUvC14KMN7UPQwEVb">
                    via GIPHY</a></p>   

          </div>


          <div id='errorText'>
            
                
               <p> X 0 X </p>
               
               
               <br><h2>Oooooooops ...<br></h2>

               <h3>Something went wrong here
                    <br>&#x1F61F;</h3> <br>


               <a class='pageLink'
                    onclick="goBack()">
                         Go back</a>

               <a class='pageLink'
                    href="/">
                         Return to home</a>

          </div>

     </div>

{% endblock %} 