
{% set page_html = page %}
{% extends page[0] %}


{% block content %}

{# CSS #}
<link rel="stylesheet" href="../static/styles_index.css">



<div class="homeBody">


  <h1>GamesBook</h1>
  


  <div id='intro' class="pageNav">

    <a class='pageNavCurrent' href='#intro'>Intro</a>
    <p>&#x25B6;</p>
    <a href='#howto'>How To</a>
    <p>&#x25B6;</p>
    <a href='#games'>Games</a>
    
  </div>




  {# ABOUT #}

  <section class="imgSplitDiv">

    <div class="textDiv"
      style="grid-column: 1/3;">

      <h2><span style="background-color: var(--c-dirty);"> 
        What is GamesBook?
      </span></h2>      
      <p>{{ about_info[0] }}</p>
      <p>{{ about_info[1] }}</p>
      <br>
      <a href='/about'
        class="pageLink">
        More Insights</a>
    </div>


    <div class="imgDiv slideAuto fade"
      style="grid-column: 3; background-image: 
      url('../static/media/img_gaming_jumper.jpg');">
      <div class="text">Make groups</div>
    </div>    

    <div class="imgDiv slideAuto fade"
      style="grid-column: 3; background-image: 
      url('../static/media/modes/gamesbook_ref_d06.png');">
      <div class="text">Log your games</div>
    </div>    

    <div class="imgDiv slideAuto fade"
      style="grid-column: 3; background-image: 
      url('../static/media/modes/gamesbook_ref_r11.png');">
      <div class="text">View & analyze</div>
    </div>    
    
    <div style="grid-column: 3; z-index: 1;
      text-align: center; min-height: 15px; position: relative;">
      <span class="dotAuto"></span> 
      <span class="dotAuto"></span> 
      <span class="dotAuto"></span> 
    </div>
    <script> showAuto(); </script>
  </section>



  <div id="howto" class="pageNav">

    <a href='#intro'>Intro</a>
    <p>&#x25B6;</p>
    <a class='pageNavCurrent' href='#howto'>How To</a>
    <p>&#x25B6;</p>
    <a href='#games'>Games</a>
    
  </div>



  {# How To #}

  <section class="FullDiv">

    <h2><span style="background-color: black;">
        How to use GamesBook</span></h2>
    


    <div class='howToDiv'>

      <div style="display: flex; flex-direction: column;">
        <h3><span style="font-weight: bold; font-size: 2em;">
          1</span><br>Register a Group</h3>
      </div>


      <div class='giphyBg' style='background-image: 
        url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjEx\
        ODc0ZzNxamczMjJzeTYzdHJiMmVybmtzanliejh2cmNwZGszNmsxNyZ\
        lcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3orif2JK8DsUSxMShW/giphy.gif");'>
      </div>
      
      
      <div class='howToTextDiv'>

        <p> Register a <b>group account</b> to start with GamesBook 
          (this takes only 2 minutes and not even an email address). </p>
        <p> A group of <b>up to 10 players</b> can share this account
          (you need at least 2 players, but can add more anytime). </p>
        <p> If there is another group of people you play with
          it is recommended to make a separate group account
          (e.g. one group for the cards guys and one for the family). </p>

      
        <a class='pageLink' href="/register">
          Register here</a>  
      
      </div>

    </div>  



    <div class='howToDiv'>

      <div style="display: flex; flex-direction: column;">
        <h3><span style="font-weight: bold; font-size: 2em;">
          2</span><br>Play & Log</h3>
      </div>


      <div class='giphyBg' style='background-image: 
        url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExN\
        m4zazZwbmJ5ejV2ZmRjemlqcHkxdmZxOGxzaDZsZGVjdHlpNDlpaiZlcD\
        12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3o6Mbr1blVD5KKQBxK/giphy.gif");'>
      </div>
      
      
      <div class='howToTextDiv'>
        <p> <b>Time to game!</b> </p>
        <p> <b>First</b>, choose a game you want to <b>play</b> and game it.<br>
          <b>Then</b>, make sure to <b>log the results</b> of your game in GamesBook.
          Logs are a record or note of the game and its results.
        </p>

        <p>  Depending on the actual game you play, 
          the information and moment you log will differ.
          Therefore GamesBook offers <b>game modes</b>.
        </p> 
        <p>Here are two examples: </p> 
        <p><i>&#x2311; If you do a <b>'Puzzle'</b>, you will simply puzzle it and 
          measure the time it takes you to finish it. 
          Afterwards, you log your time in GamesBook.</i></p> 
          <p><i>&#x2311; Say you play <b>Scrabble</b>. This is a round-based, multiplayer game. 
          You can have GamesBook open while you play and enter the points 
          after each round or after a playthrough - you decide. 
          Once you are done, you save the log of the Scrabble session. 
          The game mode for this is <b>'Rounds'</b>.</i>
        </p>
                
        <a class='pageLink' href="#games">
          Learn more about game modes</a>  
      
        </div>
    </div>  



    <div class='howToDiv'> 
      
      <div style="display: flex; flex-direction: column;">
        <h3><span style="font-weight: bold; font-size: 2em;">
          3</span><br>Remember & Analyze</h3>
      </div>


      <div class='giphyBg' style='background-image: 
        url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExeHVpdn\
        VtZ25oc2QxdXY4dDhwcXZzMDg2dmt2czZwNDFta3N3N3h6NiZlcD12MV9pbnR\
        lcm5hbF9naWZfYnlfaWQmY3Q9Zw/l2JdTgYZ7VG4EeBVe/giphy.gif");'>
      </div>      
      

      <div class='howToTextDiv'>
        <p> Games are over, time to check out what 
          and how you played so far!
        </p>
        <p> GamesBook offers <b>analytics</b> for your group. 
          All players can login and revisit the groups' logged games and results.
          You can see how the players have performed, developed their gameplay or 
          simply remember the fun you've had playing together.</p>
          <p><i> Btw ... GamesBook is a Data Science project, 
            so this will be a core feature to check out.</i>
        </p>

      </div>

    </div>  
  </section>





  <div id="games" class="pageNav">
    <a href='#intro'>Intro</a>
    <p>&#x25B6;</p>
    <a href='#howto'>How To</a>
    <p>&#x25B6;</p>
    <a class='pageNavCurrent' href='#games'>Games</a>
  </div>


  {# Game Modes #}

  <section id="gamesDiv" class="FullDiv">

    <h2><span style="background-color: black;">
        Game Modes</span></h2>

    <p id='gamesTxt'><span style='background-color: var(--b-black-tr);'>
      Choose a mode to explore:</span></p>



    <div class="tab">
      <div class="tabButtons">
        {% for m in range(num_modes) %}
          
          <button class="tablinks" 
              onclick="openMode(event, '{{ modes[m][0] }}')"      
              style='text-transform: uppercase; background-color: black;'>
                <img height='50px' class='inlineImg'
                src={{ modes[m][5] }}> 
                &emsp; {{ modes[m][0] }}
          </button>

        {% endfor %} 
      </div>



      {% for m in range(num_modes) %}
        <div id="{{ modes[m][0] }}"  class="tabcontent midDiv"
          style='background-color: var(--b-black-tr); color: var(--t-white);'>

          <h3 style='color: var(--s-yellow);'> {{ modes[m][0].upper() }} </h3>
          <div><p style='white-space: pre-line;'> {{ modes[m][2] }} </p></div>


          <div class='imgSlider' 
            style="grid-column: {{ mode_images|length }}; 
            max-height: 100%; max-width: 100%;">
              {% for img in mode_images[m] %}
                <img src="{{ img }}"
                  style="object-fit: cover; height: 100%; border: 1px solid var(--b-white-tr);">
              {% endfor %}
          </div>
        </div>
      {% endfor %}

    </div>
  </section>
</div>



<div class='footHome'>

  <a class='pageLink' href='/register'>Register a Group</a>
  <a class='pageLink' href='/about'>About & Insights</a>

</div>


{% endblock %}
