
{% extends head %}   


{% block content %}

  <h1>Welcome to GameBook</h1>

  <p style="font-size:14pt;  white-space: pre-line; text-align:block; color:var(--light);">
    {{ about_info }}
  </p><br><br><br><br>

  



  <h2>play modes</h2>

  <div class="tab">
    {% for m in range(num_modes) %}
      <button class="tablinks" onclick="openMode(event, '{{ modes[m] }}')"      
      style='text-transform:capitalize;'>{{ modes[m] }}</button> 
    {% endfor %} </div>


  {% for m in range(num_modes) %}
    <div id="{{ modes[m] }}"  class="tabcontent">
      <p style='text-align:left; white-space: pre-line;'>{{ descriptions[m] }}</p> 
      <iframe src="{{ giphs[m] }}" max_width="50%" height="100%"
          style="position:left" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>  
    </div>  
  {% endfor %}

  <script>
  function openMode(evt, Mode) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(Mode).style.display = "block";
    evt.currentTarget.className += " active";}
  </script>




  <br><br><br>
  <h2>start here</h2>
  <div class='div-1'> 

    <a class='a-small-1' href="/login">
        Login your Group</a>
    <p> Continue with your registered group and open your group GameBook.</p><br><br>
    
    <a class='a-small-1' href="/create_group">
        Register a new Group</a>
    <p> Create a new group and start your own GameBook. Each game you play adds a page.
        You can always login and continue and check out earlier game results again. </p><br><br>
    
    <a class='a-small-2' href="/random_group">
        Try GameBook without login</a>
    <p> You will not be able to save your game notes.<br>
        You can only try in the mode <b>rounds</b>.<br>
        You can play with <b>2 to 4 persons</b>.</p><br>

  </div>

{% endblock %}
