{% extends base %}
{% block content %}
  <h1>About the GameBook Project</h1><br>
  <div style = 'text-align:left; size:14pt;'>
    <p>{{ about_info }}</p><br>
    <h3 style='text-align:left;'>Insights
    </h3><p>
      This is a non-commercial Data Science portfolio project. 
      That is why it is fully free of fees or advertisements. 
      The data you enter is stored non-personalized and only used for this one app. 
      The app uses Flask frameworks and is hosted on a dedicated AWS server (US).
    </p>
    <p style = 'font-weight:bold; color:rgb(0, 0, 41);'>Have fun playing!!</p>
    <br><br>
    <a  style = 'background-color:lightslategray;' 
        href = 'https://www.linkedin.com/in/luise-strathe'
        target="_blank" rel="noopener noreferrer">
        Developer Profile & Contact</a>   
    
  </div>
{% endblock %}