{% extends "base.html" %}
{% block content %}
  <h1>About the Gamebook project</h1>
  <p>
    Gamebook is a simple and free online Game Notebook as you might have one at home. 
    It is a simple web application that allows you to create and manage your gameplay in the analog world. 
  </p>
  <p>
    This is a personal portfolio project. That is why it is fully free of fees or advertisements. 
    The data you enter is stored non-personalized and hosted my AWS servers.

  </p>
  <p>
    Check out the documentation in the Github repository.
  </p>
  <p>
    My name is Luise Strathe, Berlinn based Data Scientist. 
    Feel free to visit my portfolio website.    
  </p>
  <p>
    Thank you for visiting!!!
  </p>
{% endblock %}