
{% set page_html = page %}
{% extends page[0] %}


{% block content %}

    <h1>Change your Motto</h1>
    <p styl='text-align:center;'>Current Motto</p> 
    <h3>{{ group.motto }}</h3><br>


    <form action="" method="POST" style = ''>
        {{ motto_form.hidden_tag() }}
        <p>New group motto:</p>
        <p> {{ motto_form.motto() }}</p>
        <p> {{ motto_form.submit() }}</p>
    </form>

    <br><br>
    <a  style = ""
        href = "/group/{{ session['username'] }}">Never mind, go back</a>

{% endblock %}