
{% set page_html = page %}
{% extends page[0] %}


{% block content %}

{# CSS #}
<link rel="stylesheet" href="../static/styles_index.css">




<div class="homeBody" style='background-color: var(--b-black-tr);'>
  {% set players = group.players %}
  {% set colors = group.colors %}

  {# Header #}
  <div class="groupHeader">

    <h1>{{ group.name }}</h1>

    <p style='font-style: italic; text-align: left; 
      font-size: 2.5rem; color:var(--s-yellow); line-height: 1.5;'>
      "{% if group.slogan == "" %}
        Damn, we are lazy enough to not have a slogan.
      {% else %}
        {{ group.slogan }}  
      {% endif %}"
    </p>

    <p id='headLinks'><a href="/settings">>>> to Settings  <<<</a><br>
      <a href="/statistics">>>> to Statistics  <<<</a></p>
  </div>
</div>



{# User info box #}
{% if info != "" %}
    <div id="infoID" class="userFeedback infoShow">
        {{ info }} <br><br>
        <button 
            class='pageLink' 
            onclick="close_user_info()">
                X
        </button>
    </div>
{% endif %}



{# Play #}
<section class="FullDiv" 
  style="background-color: var(--b-white-tr);">

  <div id='play' class="pageNav">
    <h2><span style="background-color: black;">
      Play</span></h2>
    <p style='color: var(--t-std);'>></p>
    <a href='#games' style='color: var(--t-std);'>to Game Info</a>
  </div>

  <p style='display:block; text-align: center;'>
    Choose a game mode to start:
  </p>

  <div class='playDiv'>
    
    {% for i in range(num_modes) %}
      {% set mode = modes[i][0] %}

      <button class='modePlayDiv' onclick="start_{{ mode }}()"> 
        <div>
          <h3> {{ mode }} </h3>

          <div class="imgDiv" style="background-image: 
            url('{{ modes[i][5] }}');">
          </div>

          <p>>>> start <<<</p>
        </div>
      </button>

    {% endfor %}

    {# Popups #}
    <div id='roundsStart' class="startPop popUp">
      <form action="" method="POST">
        {{ rounds_form.hidden_tag() }}
        
        <div>
          <p>What game are you playing?</p>
          <p>{{ rounds_form.r_title() }}</p>
          <p><br>Who is joining?</p>

          {% for p in range(group.n) %}
            {% set player_tag = 'r_p_' + p|string %}
            <div class='playerDiv'>
              <p style='background-color: {{ colors[p] }};'>
                {{ players[p] }}</p>
              <p>{{ rounds_form[player_tag]() }}</p>
            </div>
          {% endfor %}
          </div>

        <p class='startBtn'>{{ rounds_form.submit_rounds_start() }}</p>
      </form>

      <button onclick="start_rounds()" class='pageLink'>
        x</button>
    </div>

    <div id='diceStart' class="startPop popUp">          
      <div>
        <p>Dice mode is not yet available</p>
        <p>&#x1F641;</p>
      </div>

      <button onclick="start_dice()" class='pageLink'>
        x</button>
    </div>

  
  </div>

  


</section>

<div style="height: 80px;"></div>


{# Game Modes #}
<section id="gamesDiv" class="FullDiv"
  style="background-color: var(--b-black-tr); color: var(--t-white);">

  <div id='games' class="pageNav">
    <a href='#play'>to Play</a>
    <p>></p>
    <h2><span style="background-color: black;">
      Game Info</span></h2>
  </div>

  <p style='display:block; text-align: center;'>
    Choose a mode to learn how it works:</p>


  <div class="tab">

    <div class="tabButtons">
      {% for m in range(num_modes) %}
        
        <button class="tablinks" 
            onclick="openMode(event, '{{ modes[m][0] }}')"      
            style='text-transform:capitalize;'>
              {{ modes[m][0] }}
        </button>

      {% endfor %} 
    </div>


    {% for m in range(num_modes) %}
      <div id="{{ modes[m][0] }}"  class="tabcontent">
        <div class="imgSplitDiv">

          <div class="textDiv" 
            style="grid-column: 1/3; 
            background-color: var(--b-white-tr);">
            <h3> {{ modes[m][0] }} </h3>

            <p style='color: var(--t-std);'> {{ modes[m][2] }} </p> 
          </div>  


          <div class="giphyImg"
            style="grid-column: 3; background-color: var(--b-white-tr);">
            <img src="{{ modes[m][3] }}">
          </div>

        </div>
      </div>
    {% endfor %}

  </div>
</section>

<div style="height: 80px;"></div>


{% endblock %}
