
{% set page_html = page %}
{% extends page[0] %}


{% block content %}

<h1>Create a new Group</h1>

<p style="font-size:14pt; text-align:left">
    You can create a new game with fixed players. 
    Your group can fill your GameBook with game results. 
    Over the time, you can check your group's statistics.

    You can always access your group's GameBook by using your group's name and key. 
    Write your name and key down, if you want to add new pages to this book later on.
  </p><br>


<form action="" method="POST"
        style = 'text-align:left;'>
    {{ group_form.hidden_tag() }}

    <p> <b>{{ group_form.name.label }}</b> &emsp;
        {{ group_form.name(size=40) }}</p>
    <p style = 'size:10pt; font-style:italic; left:20pt;'>
        Your name should be between 5 and 40 characters.
        You can use numerics and space, but not as a start.</p><br>
    
    <p> <b>Enter your group password:</b> &emsp;&emsp;
        {{ group_form.key(size=20) }}</p>
    <p> <b>Confirm the password:</b> &emsp;&emsp;
        {{ group_form.key_confirm(size=20) }}</p>
        
    <p style = 'size:10pt; font-style:italic; left:20pt;'>
        Your key is an identifier to prevent your group's GameBook 
        to be accidentally used by other people.
        Your group has one key only. Please, make it easy enough to remember as you can not retrieve or reset it.
        <b>THIS IS NOT AN ENCRYPTED PASSWORD. DO NOT USE A PASSWORD YOU USE ELSEWHERE! </b>
        <br>
        The key should be between 5 and 20 characters.
        Imagine a password that is easy to remember, but hard to guess.
        You can use numerics.</p><br>

    <p style = 'size:10pt;'>
            You can have 2 to 10 players in this group.</p>
    
    {% for i in range(10) %}

        <p> <b> {{ group_form["p" + i|string].label }}   </b></p>
        <p>     {{ group_form["p" + i|string](size=20) }}</p>
        <p>     {{ group_form["c" + i|string] }}         </p><br>

    {% endfor %}

    <p> <b>{{ group_form.slogan.label }}</b> (optional)</p>
    <p> {{ group_form.slogan(size=100) }}</p><br>     

    <p>{{ group_form.registration_submit() }}</p><br>

</form>




{% endblock %}