
{% set page_html = page %}
{% extends page[0] %}




{% block content %}


  {# CSS #}
  <link rel="stylesheet" href="../static/styles_admin.css">
  <style type="text/css">

    body { 
      background-image: 
      linear-gradient(to bottom right, 
    #80ff6d, #ff8138) !important;    }

  </style>




  {# Head #}

  <div 
    style="height: 60px;">
  </div>


  {% if retry %}

    <div id="infoID" class="userFeedback infoShow">
    
      {{ info }} 
    
      <p> Your group name or password were incorrect. 
        <br> &#x2639; <br>
        Please, try again.
      </p><br><br>
      
      <button 
          class='pageLink' 
          onclick="close_user_info()">
            X
      </button>

    </div>
    
  {% endif %}



  <div class="adminBody">

    {# Login form -- GRID #}
    <form action = "" method = "post">

      <section class="loginDiv">

        
        <h1
          style="grid-column: 2; grid-row: 1;">
          LOGIN
        </h1>


        <p style="grid-column: 1; grid-row: 2;"> 
          Group Name 
        </p> 
    
        <input type = text name = username
          style="grid-column: 2; grid-row: 2;">
        
        
        <p style="grid-column: 1; grid-row: 3;"> 
          Password 
        </p>

        <input type = text name = key
          style="grid-column: 2; grid-row: 3;">
        

        <input 
          style="grid-column: 2; grid-row: 4;"
          class="pageLink adminConfirm" 
          type = submit value = Login>
        

      </section>
    </form>

    



    {# Register link #}

    <hr>

    <div style="height: 100px;"></div>
    
    <a class="pageLink" 
      href = "/register">
        Register a new Group
    </a>
    
    <div style="height: 200px;"></div>



  </div>

{% endblock %}