
{% set page_html = page %}
{% extends page[0] %}


{% block content %}

{# CSS #}
<link rel="stylesheet" href="../static/styles_index.css">




<div class="homeBody" style='background-color: var(--b-black-tr);'>
  {% set players = group.players %}
  {% set colors = group.colors %}

  {# Header #}
  <div class="groupHeader">

    <h1>{{ group.name }}</h1>

    <p id='slogan'>
      "{% if group.slogan == "" %}
        Damn, we are lazy enough to not have a slogan.
      {% else %}
        {{ group.slogan }}  
      {% endif %}"
    </p>

    <p id='headLinks'>
      <a href="/settings" style='color: var(--t-white);'>&#10149; to Settings<br></a>
      <a href="/statistics" style='color: var(--t-white);'>&#10149; to Statistics</a></p>
  </div>
</div>



{# User info box #}
{% if info != "" %}
    <div id="infoID" class="userFeedback infoShow">
        {{ info }} <br><br>
        <button class='pageLink' onclick="close_user_info()">
          X </button>
    </div>
{% endif %}



{# Play #}
<section class="midDiv" 
  style="background-color: var(--b-white-tr);">

  <div id='play' class="pageNav">
    <h2><span style="background-color: black;">
      Play</span></h2>
    <p style='color: var(--t-std);'>&#x25B6;</p>
    <a href='#games' style='color: var(--t-std);'>to Game Info</a>
  </div>

  <p style='display:block; text-align: center;'>
    Choose a game mode to start:
  </p>

  <div class='playDiv'>
    
    {% for i in range(num_modes) %}
      {% set mode = modes[i][0] %}

      <button class='modePlayDiv' onclick="start_{{ mode }}()"> 
        <div>
          <h3> {{ mode }} </h3>

          <div class="imgDiv" style="background-image: 
            url('{{ modes[i][5] }}');">
          </div>

          <p>>>> start <<<</p>
        </div>
      </button>

    {% endfor %}

    {# Popups #}
    <div id='roundsStart' class="startPop popUp">
      <div class='popUpContent'>
        <div class='popHead'>
          <p>Rounds Game</p>
          <button onclick='start_rounds()'>
              X </button>
        </div>


        <form action="" method="POST">
          {{ rounds_form.hidden_tag() }}
          
          <div>
            <p>What game are you playing?</p>
            <p>{{ rounds_form.title() }}</p>
            <p>New Game:<br>{{ rounds_form.new_title() }}</p>
            <p><br>Who is joining?</p>

            {% for p in range(group.n) %}
              {% set player_tag = 'r_p_' + p|string %}
              <div class='playerDiv'>
                <p style='background-color: {{ colors[p] }};'>
                  {{ players[p] }}</p>
                <p>{{ rounds_form[player_tag]() }}</p>
              </div>
            {% endfor %}
          </div>

          <p class='startBtn'>{{ rounds_form.submit_rounds_start() }}</p>
        </form>      
      </div>
    </div>


    <div id='diceStart' class="startPop popUp">          
      <div class='popUpContent'>
        <div class='popHead'>
          <p>Dice Game</p>
          <button onclick='start_dice()'>
              X </button>
        </div>
        
        
        <form action="" method="POST">
          {{ dice_form.hidden_tag() }}
          
          <div>
            <p><br>Who is joining?</p>

            {% for p in range(group.n) %}
              {% set player_tag = 'd_p_' + p|string %}
              <div class='playerDiv'>
                <p style='background-color: {{ colors[p] }};'>
                  {{ players[p] }}</p>
                <p>{{ dice_form[player_tag]() }}</p>
              </div>
            {% endfor %}
          </div>

          <p class='startBtn'>{{ dice_form.submit_dice_start() }}</p>
        </form>    
      </div>
    </div>
  </div>
</section>




<div style="height: 80px;"></div>




{# Game Modes #}
<section id="gamesDiv" class="midDiv">

  <div id='games' class="pageNav">
    <a href='#play'>to Play</a>
    <p>&#x25B6;</p>
    <h2><span style="background-color: white; color: black;">
      Game Info</span></h2>
  </div>

  <p id='gamesTxt'>
    <span style=' background-color: var(--b-black-tr);'>
    Choose a mode to learn how it works:</span></p>


  <div class="tab">

    <div class="tabButtons">
      {% for m in range(num_modes) %}
        
        <button class="tablinks" 
            onclick="openMode(event, '{{ modes[m][0] }}')"      
            style='text-transform:capitalize;'>
            <img height='50px' class='inlineImg'
            src={{ modes[m][5] }}> 
            &emsp; {{ modes[m][0] }}
        </button>

      {% endfor %} 
    </div>


    {% for m in range(num_modes) %}
      <div id="{{ modes[m][0] }}"  class="tabcontent">
        <div class="imgSplitDiv">

          <div class="textDiv">
            <h3> {{ modes[m][0] }} </h3>
            <p style='color: var(--t-std);'> {{ modes[m][2] }} </p> 
          </div>  


          <div class='imgSlider'>
              <img src="{{ modes[0][3] }}">
              <img src="{{ modes[1][3] }}">           
              <img src="{{ modes[2][3] }}">
          </div>
            
        </div>
      </div>
    {% endfor %}

  </div>
</section>

<div style="height: 80px;"></div>


{% endblock %}
