{% extends "base.html" %}
{% block content %}

  <h1>Welcome to GameBook</h1>

  <p style="font-size:20pt; text-align:center; color:red;">
    PRE-RELEASE<br>THIS APP IS NEW AND STILL IN ALPHA</p>
  <p style="font-size:14pt; text-align:left">{{ about_info }}
  </p>
  <br>


  <h2>group</h2>
  <div style = "display:block; height:100%; padding:20px; 
    background-color: rgb(0, 0, 41); color:white;"> 
    <p>First, select or create a group:</p>

    
    <a style = "padding:20px; background-color:lightslategray; 
        display:block; height:100%;" 
        href="/login">
        <span style='text-transform:uppercase; font-weight:bold;'>
        Login Group</span><br>
        Continue with your registered group and open your group GameBook.</a><br>
    
    <a style = "padding:20px; background-color:lightslategray; 
        display:block; height:100%;" 
        href="/create_group">
        <span style='text-transform:uppercase; font-weight:bold;'>
        NEW</span><br>
        Create a new group and start your own GameBook. Each game you play adds a page.
        You can always login and continue and check out earlier game results again. </a><br>
    
    <a style = "padding:20px; background-color:lightslategray; 
        display:block; height:100%;" 
        href="/random_group">
        <span style='text-transform:uppercase; font-weight:bold;'>
        RANDOM</span><br>
        Start as no-name group without records</a><br>

  </div>
  <br>

    
  <h2>modes</h2>
  <div style = "display:block; height:100%; padding:20px; 
    background-color:rgb(65, 73, 136); color:white; text-align:center;"> 
    
    <p>After you selected your group, 
      you can start a new game in one of these modes:</p>

    {% for i in [0, 1] %}
      <p style = "padding:20px; background-color:lightslategray; 
        display:block; height:100%; color:black;" >
        <span style='text-transform:uppercase; font-weight:bold;'>
        {{ modes[i] }}</span><br>
        {{ descriptions[i] }}</p>
    {% endfor %}


    <iframe src="https://giphy.com/embed/3tEFVAbfzzcwo" max_width="50%" height="100%"
        style="position:left" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>

{% endblock %}
