
{% set page_html = page %}
{% extends page[0] %}

{% block content %}


    <h2>{{ page[2] }}... </h2>
    <h3>... Playing Rounds</h3>


    <div class='div-1'>
        <p style='text-align:left; color:var(--light);'>
            Enter your results on this page of rounds:</p>

        <form action="" method="POST">
            {{ rounds_form.hidden_tag() }}

            <table>
                <tr>
                    <th> </th>
                    {% for player in group.players %}
                        <th style='border-bottom: 1px solid var(--c-2);'>
                            {{ player }}</th>
                    {% endfor %}
                </tr>

                {% if not start %}
                    {% for row in range(round) %}
                        <tr>
                            <td style= 'text-align: right;'>
                                Round {{ row + 1 }}</td>
                            {% for player in range(n) %}
                                <td>{{ points[row][player] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endif %}

                <tr class="active-row">
                    <td style= 'text-align: right'>
                        Round {{ round + 1 }}</td>
                    {% for entry in point_entries %}
                        <td>
                            {{ entry }}</td>
                    {% endfor %}
                </tr>

                {% if not start %}
                    <tr>
                        <th style= 'text-align: right; '>
                            SUM</th>
                        {% for summe in points[-1] %}
                            <th>{{ summe }}</th>
                        {% endfor %}
                    </tr>
                {% endif %}

            </table>


            <p>{{ rounds_form.submit() }}</p><br>
        </form>
    </div><br>

    {% if session['status'] == 'IN' %}
        <div style='width:100%; size:20pt;'>
            <form action="" method="POST">
                {{ submit_game_form.hidden_tag() }}
                <h2>Save Page</h2>
                <p>How do you want to title or comment this game to remember?</p>
                <p>{{ submit_game_form.info() }}</p>
                <p>{{ submit_game_form.submit() }}</p>
            </form>
        </div><br><br>


        <a style='white-space: pre-line; color:var(--c-danger)'
            href='/'>Exit this game now without saving.</a><br><br><br>
    {% endif %}


    {% if session['status'] == 'OUT' %}
        <p style='color:var(--light);'>With a registered group you can save this page to your GameBook. <br>
                    Also you get access to <b>additional game modes and statistics</b> for your group.</p>
        
        <a class='a-small-1' href='/create_group'>
                Register a group here
        </a><br><br>

        <a style='padding:20px;' href='/create_group'>
            Get back Home
        </a>    <br><br>
    {% endif %}



{% endblock %}