
{% set page_html = page %}
{% extends page[0] %}

{% block content %}


{# CSS #}
<link rel="stylesheet" href="../static/styles_games.css">
<style type="text/css">
    body {background-image: var(--b-grade-3) !important;}
</style>


<div id='gameHead'>
   
    <h1>Puzzles</h1> 

    <div>
        <a class="pageLink"
            href="/">|| Pause game</a>
        <a class="pageLink"
            href="/">X Delete game</a>
    </div>

</div>



{% if info != "" %}

    <div id="infoID" class="userFeedback infoShow">
        {{ info }} <br><br>
        <button 
            class='pageLink' 
            onclick="close_user_info()">
                X
        </button>
    </div>

{% endif %}


<div class='FullDiv' style="background-color: var(--b-dark-tr);">
    <section id='roundsMain' class="gameSection">

        <h2><span style='background-color: var(--s-yellow);'>
            {{ game_info[1] }} </span></h2>
        {% if not finished %}        
            <p>Game {{ game_info[0] }} @ round {{ round }} <br>
            startet on {{ game_info[2] }}</p>
        {% else %}
            <p>Game {{ game_info[0] }}<br>
            finished on {{ game_info[2] }} @ {{ game_info[2] }} rounds </p>
            <p>Your comment: <br>
                {{ game_info[5] }}</p>
        {% endif %}


        <form action="" method="POST">
            {{ rounds_form.hidden_tag() }}
            {% set players = game_info[3] %}
            {% set colors = game_info[4] %}

            <table>
                {# player row #}
                <tr style='border-bottom: 1px solid var(--c-grey);'>
                    <th style='width: 40px;'> </th>
                    {% for p in range(players|length) %}
                        <th style='background-color: {{ colors[p] }};'>
                            {{ players[p] }}</th>
                    {% endfor %}
                </tr>
                
                {# prior rounds #}
                {% if round > 1 %}
                    {% for row in range(round - 1) %}
                        <tr>
                            <td class='roundsCol'>
                                Round {{ row + 1 }}</td>
                            {% for player in range(n) %}
                                <td>{{ points[row][p] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endif %}

                {# input round #}
                {% if not finished %}
                    <tr class="active-row">
                        <td class='roundsCol'>
                            {{ round }}</td>
                        {% for entry in point_entries %}
                            <td>
                                {{ entry }}</td>
                        {% endfor %}
                    </tr>
                {% endif %}
            
                {# sum row #}
                {% if round > 1 %}
                    <tr style='border-top: 1px solid var(--c-grey); font-weight: bold;'>
                        <td class='roundsCol'>
                            &sum;</td>
                        {% for summe in points[-1] %}
                            <td>{{ summe }}</td>
                        {% endfor %}
                    </tr>
                {% endif %}
            </table>


            <div class='pageLink submitBtn'>
                {{ rounds_form.submit() }}</div>
        </form>
    </section>
</div>



<section class="gameSection">

    <button class='finishBtn' 
        style='background-color: black; color: var(--s-yellow);'
        onclick='finish_rounds()'>
        Finish Game
    </button>


    <div id="roundsFinish" class="popUp">

        <h2>GAME OVER?</h2>

        <div class='giphyBg' style='height: 250px; background-image: 
            url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3B4bHB0\
            ajNoYnd1YWUyam5nbDZib3UzMTYxbzhiZ2F4d253Z3YwbCZlcD12MV9pbnRlcm5\
            hbF9naWZfYnlfaWQmY3Q9Zw/2afdli2NFvmq1KsIeS/giphy.gif");'>
        </div>

        <p>How do you want to remember this game?</p>
        <form action="" method="POST">
            {{ submit_game_form.hidden_tag() }}  

            <p>{{ submit_game_form.info() }}</p>                              

            <div class='finishBtn'>
                {{ submit_game_form.submit() }}
            </div>

            <button class='pageLink'
                onclick='finish_rounds()'>
                X
            </button>        
        </form>
    </div>
</section>
    


{% endblock %}