
{% set page_html = page %}
{% extends page[0] %}

{% block content %}


{# CSS #}
<link rel="stylesheet" href="../static/styles_games.css">
<style type="text/css">body {background-image: var(--bg-play) !important;}</style>
<script src='../static/play_charts.js'></script> 


<div id='gameHead'>   
    <h1><img height='30px' class='inlineImg'
        src='../static/media/modes/rounds_icon.png'>
        Rounds</h1> 

    <div>
        {% if status == 'play' %}
            <a class="pageLink" 
            href="/">Stop Game</a>
        {% else %}
        <a class="pageLink"
            href="/">&#10149; Play Again</a>
        <a class="pageLink"
                href="/stats/rounds">&#10149; To Statistics</a>
        {% endif %}
    </div>
</div>


{% if info != "" %}
    <div id="infoID" class="userFeedback infoShow">
        {{ info }} <br><br>
        <button class='pageLink' onclick="close_user_info()">
            X </button>
    </div>
{% endif %}

{% set players = game_info[3] %}
{% set colors = game_info[4] %}
{% set table_width = 100 + 100 * players|length %}




<div class='FullDiv' style="background-color: var(--b-dark-tr);">
    <section id='playMain' class="midDiv gameSection">

        <h2><span style='background-color: var(--s-yellow); color: black;'>
            {{ game_info[1] }} </span></h2>
        {% if status == 'play' %}        
            <p>Game {{ game_info[0] }} <b>@ round {{ round }} </b><br>
            startet on {{ game_info[2] }}</p>
        {% else %}
            <p>Congratz to <b>{{ winners }}</b> for winning!</p>
            <p style="font-size: 0.9rem;">
                Game {{ game_info[0] }} finished on {{ game_info[2] }} 
                @ {{ round }} rounds </p>
            <p><b> {{ game_info[5] }}</b></p>
        {% endif %}


        <form action="" method="POST">
            {% if status == 'play' %}  
                {{ rounds_form.hidden_tag() }}
            {% endif %}


            <table style='min-width: {{ table_width }}px;'>
                {# player row #}
                <tr style='border-bottom: 1px solid var(--c-grey);'>
                    <th style='width: 40px;'> </th>
                    {% for p in range(players|length) %}
                        <th style='background-color: {{ colors[p] }};
                            letter-spacing: 0.1rem;'>
                            {{ players[p] }}</th>
                    {% endfor %}
                </tr>

                <tr class="divider">
                    <td colspan='{{ players|length + 1 }}'><hr></td>
                </tr>

                {# prior rounds #}
                {% if round > 1 %}
                    {% for row in range(round - 1) %}
                        <tr>
                            <td class='playCol'>
                                {{ row + 1 }}</td>
                            {% for p in range(players|length) %}
                                <td>{{ points[row][p] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endif %}



                {# input round #}
                {% if status == 'play' %}
                    <tr class="active-row">
                        <td class='playCol'>
                            {{ round }}</td>
                        {% for p in range(players|length) %}
                            <td class='playInput' 
                                style='background-color: {{ colors[p] }}9b;'>
                                {{ point_entries[p] }} </td>
                        {% endfor %}
                    </tr>
                {% endif %}



                <tr class="divider">
                    <td colspan='{{ players|length + 1 }}'><hr></td>
                </tr>

                {# sum row #}
                {% if round > 1 %}
                    <tr class="finalRow">
                        <td class='playCol'>&sum;</td>

                        {% for p in range(players|length) %}
                            {% if status == 'done' and players[p] in winners %}
                                <td style='color: {{ colors[p] }};
                                    background-color: transparent; 
                                    border: 1px solid {{ colors[p] }};'>
                                        {{ points[-1][p] }}</td>
                            {% else %}
                                <td style='color: {{ colors[p] }};
                                    background-color: transparent;'>
                                        {{ points[-1][p] }}</td>
                            {% endif %}
                        {% endfor %}

                    </tr>
                {% endif %}
            </table>

            {% if status == 'play' %}
                <div class='pageLink submitBtn'>
                    {{ rounds_form.submitRound() }}</div>
            {% endif %}
        </form>
    </section>
</div>



{# Finish Game #}
{% if round > 1 %}
    {% if status == 'play' %}
        <section class="gameSection">

            <button class='finishBtn' 
                style='background-color: black; color: var(--s-yellow);'
                onclick='finish_game()'>
                Finish Game
            </button>


            <div id="finishGame" class="popUp">
                <div class='popUpContent'>
                    <div class='popHead'>
                      <p>Log this game</p>
                      <button onclick='finish_game()'>
                          X </button>
                    </div>

                    <h2>GAME OVER?</h2>

                    <div class='giphyBg' style='height: 250px; background-image: 
                        url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3B4bHB0\
                        ajNoYnd1YWUyam5nbDZib3UzMTYxbzhiZ2F4d253Z3YwbCZlcD12MV9pbnRlcm5\
                        hbF9naWZfYnlfaWQmY3Q9Zw/2afdli2NFvmq1KsIeS/giphy.gif");'>
                    </div>
                    <p> Your current entries will NOT be included. 
                        'Close round' to fix this.<br></p>
                    <p>How do you want to remember this game?</p>
                    <form action="" method="POST">
                        {{ submit_game_form.hidden_tag() }}  

                        <p>{{ submit_game_form.comment() }}</p>                              

                        <div class='acceptBtn'>
                            {{ submit_game_form.submit() }}
                        </div>
                    </form>
                </div>
            </div>
        </section>
    {% endif %}
{% endif %}



{% if round > 2 %}
    <section class="gameSection" >
        <h2 style='color: white;'>Game Journey</h2>     

        <canvas id="rounds_chart" height='500px'></canvas>
        <script>
            updateRoundsChart( 
                {{ chart_data[0] | safe }},
                {{ players | safe }}, {{ colors | safe }},
                {{ chart_data[1] | safe }});
        </script>    

    </section>
{% endif %}




{% endblock %}