
{% set page_html = page %}
{% extends page[0] %}


{% block content %}



{# CSS #}
<link rel="stylesheet" href="../static/styles_stats.css">
<style type="text/css">
  body {background-image: var(--b-grade-4) !important;}
</style>



{# Header #}
<section class="statsHeader">

  <h1>Game Statistics</h1>
  <a class='mainLink' href="/">>>>  Home & Play  <<<</a>
  <a href='#roundsLogs'>>>>  Go to List of all rounds games  <<<</a>
  
  <div>
    {% for i in range(modes_info|length) %}
      {% if modes[i]  == 'rounds' %}
        <a id="modeLinkActive"  
          class="modeLink" href="/statistics">
          <img height='50px' class='inlineImg'
            src={{ modes_info[i][5] }}
            style='margin-bottom: 10px;'><br> 
              {{ modes[i]  }} </a>
      {% else %}
        <a class="modeLink" href="/stats/{{ modes[i]  }}">
          {{ modes[i]  }} </a>
      {% endif %}
    {% endfor %}
  </div>



</section>




{# Chart area #}
<section class='fullDiv' style='background-color: var(--c-deep-blue-tr)'>  

  <h2 class='h2fat'>
    <span style='background-color: white; color: black;'>
      Rounds Analytics</span></h2>


  <h3 style='color: white;'>Win Rates & Paticipation</h3>  
  {% if (logs|length) > 2 %}
    <div class='midDiv'>
        <div style='height: {{winner_chart[2]}};' class='canvasDiv'>
          <canvas id="winnerBoard"></canvas>
          <script src='../static/rounds_stats.js'></script> 
          <script>
              updateWinners( 
                {{ players|safe }},
                {{ winner_chart[1]|safe }},
                {{ winner_chart[0]|safe }},);
          </script>    
        </div>  
    </div>
  {% endif %}

</section>



{# Logs List #}
<section class='midDiv'>  

  <h2 class='h2fat'>
    <span style='background-color: white; color: var(--c-blue-dark);'>
      All Rounds Logged</span></h2>

  

  <div id='roundsLogs'>
    <p style='color: var(--t-white); padding-bottom: 30px;'>
      Click on a game to open the game details.</p>
    
    {% for i in range(logs|length ) %}
      <div class='roundsLog'>
      
        <div class='roundsLog1'>
          <p><span  class='listBold'>{{ i + 1 }}</span>
            <br>{{ logs[i][1] }}</p>
          <p><span  class='listBold'>{{ logs[i][3] }}</span>
            <br>({{ logs[i][5] }} rounds)</p>        
        </div>

        {% set color = logs[i][7] %}    
        <a class='roundsLog2' href='/rounds/{{ logs[i][0] }}'
          style='background-color: {{ color }}b9;'>
          
          <p><span  class='listBold'>{{ logs[i][2] }} won</span>
            <br>{{ logs[i][4] }}</p>
          <p><br>{{ logs[i][8] }}</p>
          <p class='listDesc'>{{ logs[i][6] }}</p>
        </a>
      </div>
    {% endfor %}
  </div>



</section>


{% endblock %}
