
{% set page_html = page %}
{% extends page[0] %}


{% block content %}



{# CSS & JS #}
<link rel="stylesheet" href="../static/styles_stats.css">
<script src='../static/puzzle_stats.js'></script> 


{# Header #}
<section class="statsHeader">
  <h1>Game Statistics</h1>
  <a class='mainLink' href="/">>>>  Home & Play  <<<</a>
  <a href='#pzLogs'>>>>  Go to List of all Puzzles finished  <<<</a>
  
  <div>
    {% for i in range(modes_info|length) %}
      {% if modes[i]  == 'puzzle' %}
        <a id="modeLinkActive"  
          class="modeLink" href="/statistics">
          <img height='50px' class='inlineImg'
            src={{ modes_info[i][5] }}
            style='margin-bottom: 10px;'><br> 
              {{ modes[i]  }} </a>
      {% else %}
        <a class="modeLink" href="/stats/{{ modes[i]  }}">
          {{ modes[i]  }} </a>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% set n = logs|length %}
{% if n > 0 %}

  {# Chart area #}
  <section class='fullDiv' style='background-color: var(--c-deep-blue-tr)'>  
    <h2><span style='background-color: white; color: black;'>
        Puzzle Analytics</span></h2>


    <h3><span style='color: white; text-decoration: underline;'>
      <br> Puzzles Logged</span></h3>

    {% set width_charts = 400 + (charts[0][0]|length * charts[0][1]|length * 40) %}

    <p style='color: var(--t-white);'>Total number of logs:<br>
      {% for p in range(charts[0][1]|length) %}
        <span style='color: {{ charts[0][2][p][0] }}; font-weight: bold;'>
          {{ charts[0][1][p] }}: {{ charts[1][0][p] }}
        </span> &emsp;
      {% endfor %}
    </p>
    
    <div class='midDiv'>
      <div style='height: 100%; max-width: {{ width_charts }}px' class='canvasDiv'>
        <canvas id="logsChart"></canvas>
        
        <script>
          logs_chart( 
            {{ charts[0][0] |safe }},
            {{ charts[0][1] |safe }},
            {{ charts[0][2] |safe }},
            {{ charts[2][0] |safe }});
        </script>    
      </div>  
    </div>


    <h3><span style='color: white; text-decoration: underline;'>
      <br> Player Speed</span></h3>

    <p style='color: var(--t-white);'>Overall average speed (pieces per min):<br>
      {% for p in range(charts[0][1]|length) %}
        <span style='color: {{ charts[0][2][p][0] }}; font-weight: bold;'>
          {{ charts[0][1][p] }}: {{ charts[1][1][p] }}
        </span> &emsp;
      {% endfor %}
    </p>

    <div class='midDiv'>
      <div style='height: 100%; max-width: {{ width_charts }}px' class='canvasDiv'>
        <canvas id="playerSpeedChart"></canvas>
        <script>
          player_speed_chart( 
            {{ charts[0][0] |safe }},
            {{ charts[0][1] |safe }},
            {{ charts[0][2] |safe }},
            {{ charts[2][1] |safe }});
        </script>    
      </div>  
    </div>
      

    <h3><span style='color: white; text-decoration: underline;'>
      <br> Compare Puzzles</span></h3>

    <p style='color: var(--t-white);'>Overall average speed (pieces per min):<br>
      {% for p in range(charts[0][3]|length) %}
        <span style='color: {{ charts[0][4][p][0] }}; font-weight: bold;'>
          {{ charts[0][3][p] }}: {{ charts[1][2][p] }}
        </span> &emsp;
      {% endfor %}
    </p>

    <div class='midDiv'>
      <div style='height: 100%; max-width: {{ width_charts }}px' class='canvasDiv'>
        <canvas id="puzzleSpeedChart"></canvas>
        <script>
          puzzle_speed_chart( 
            {{ charts[0][0] |safe }},
            {{ charts[0][3] |safe }},
            {{ charts[0][4] |safe }},
            {{ charts[2][2] |safe }});
        </script>  
      </div>  
    </div>

  </section>



  {# Logs List #}

  <section class='midDiv'>  
    <h2><span style='background-color: white; color: var(--c-blue-dark);'>
      All puzzles finished</span></h2>
    <a href='/puzzle' style='padding-bottom: 30px; display: block;'>
      >>> add more puzzles or logs here <<<</a>
    
  {# 0:date, 1:winner, 2:puzzle, 3:pcs, 4:time, 5:comment #}
    <div id='logs'>
      {% for i in range(n) %} 
        <div class='log'>

          <div class='logDesc' style='min-width: 70px !important;'><p>
            <span  class='logBold'>{{ n - i }} </span>
            <br>{{ logs[i][0] }}</p></div>
          <div><p><span  class='logBold'>{{ logs[i][4] }} # </span>
            <br>{{ puzzles['title'].iloc[logs[i][3] - 1] }}</p></div>        
          <div style='background-color: {{ logs[i][2] }}c9;'><p>
            <span  class='logBold'>{{ logs[i][1] }} </span>
            <br><b>{{ logs[i][5] }}</b> h:m:s</p></div>
          <div style='flex-grow: 1;'>
            <p class='logDesc'>{{ logs[i][6] }}</p></div>
    
        </div>
      {% endfor %}
    </div>
  </section>



{% else %}
  {# Giphy Content #}
  <section id='statsMain' class='fullDiv'>  
    <div class='giphyBg'
        style='background-image: url("\
        https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjEx\
        M3YwYTFtMHNkaGRxZm1tbzQwM2xzbW10Z244d20xazYxbDQwZm\
        ZtYiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9\
        Zw/cOo3aeD9Jzxh6/giphy.gif");'>

        <p style='font-size: 4rem; color: var(--s-yellow);'>
          Nothing there yet ...</p>
    </div>
  </section>
{% endif %}

{% endblock %}
