
{% set page_html = page %}
{% extends page[0] %}


{% block content %}



{# CSS #}
<link rel="stylesheet" href="../static/styles_stats.css">
<link rel="stylesheet" href="../static/styles_games.css">



{# Header #}
<section class="statsHeader">

  <h1>Game Statistics</h1>
  <a class='mainLink' href="/">&#10149; Home & Play</a>
  
  <div>
    {% for i in range(modes_info|length) %}
      {% if modes[i]  == 'rounds' %}
        <a id="modeLinkActive"  
          class="modeLink" href="/statistics">
          <img height='50px' class='inlineImg'
            src={{ modes_info[i][5] }}
            style='margin-bottom: 10px;'><br> 
              {{ modes[i]  }} </a>
      {% else %}
        <a class="modeLink" href="/stats/{{ modes[i]  }}">
          {{ modes[i]  }} </a>
      {% endif %}
    {% endfor %}
  </div>



</section>

{% if n > 0 %}

  <a href='#logs' style='display: block; margin: 15px auto; width: fit-content;'>
    &#x25BE; go to logs  &#x25BE;</a>

  {# Chart area #}
  <section class='fullDiv' style='background-color: var(--c-deep-blue-tr)'>  

    <h2><span style='background-color: white; color: black;'>
        Rounds Analytics</span></h2>

    
    <h3 style='color: white; text-decoration: underline;'>
      <br>Win Rates & Paticipation</h3>  
    
    
    {% if n > 2 %}
      <p>
        {% for p in range(winner_chart[1]|length) %}
        <span style='color: {{ winner_chart[2][0][p] }}; font-weight: bold;'>
          {{ winner_chart[1][p] }}:
          {{ winner_chart[0][0][p] + winner_chart[0][1][p] }} ⏵
          {{ winner_chart[4][p] }} 
        </span> &emsp;
        {% endfor %}
      </p>

      <div class='midDiv'>
        <div style='height: {{winner_chart[3]}};' class='canvasDiv'>
          <canvas id="winnerBoard"></canvas>
          <script src='../static/rounds_stats.js'></script> 
          <script>
              updateWinners( 
                {{ winner_chart[1] |safe }},
                {{ winner_chart[2] |safe }},
                {{ winner_chart[0] |safe }},);
          </script>    
        </div>  
      </div>


    {% else %}
      <p style='color: var(--t-white); padding-bottom: 30px;'>
        No numbers, no stats ... analytics will show when 
        you have at least 3 logs.</p>
    {% endif %}

  </section>


  {# Logs #}


  <section class='midDiv'>  
    <h2><span style='background-color: white; color: var(--c-blue-dark);'>
      Rounds Games Logged</span></h2>


    {# Logs Filter #}

    <div id='filterDiv'>

      {% if filter != "all" %}

        {% if filter[2] != "" %}
            <p>🗓 {{ filter[2] }}</p>
        {% endif %}
        {% if filter[1] != "" %}
            <p>🏜️ {{ filter[1] }}</p>
        {% endif %}
        {% if filter[0] != "" %}
            <p style='background-color: {{ filter[0][1] }}c9;'> 
            😼  {{ filter[0][0] }}</p>
        {% endif %}
        
        <a class='pageLink puzzleBtn' href="/stats/rounds_all#filterDiv">
          ❌ Reset</a>

      {% elif filter == 'all' %}     
        <p style='color: var(--t-white); background-color: transparent;'>
          All round games, which 
          <span style='text-transform: uppercase;'><b>{{ page[2] }}</b></span> 
          has finished & logged</p>
      {% else %}
        <p style="text-align: center; color: white; height: auto; border: none;">
          No results for this filter 👀</p>
      
      {% endif %}

      <button class='pageLink puzzleBtn' onclick='log_filter()'>
        🔍 Filter</button>

    </div>    


    <div id='logFilter' class='popUp'>
      <div class='popUpContent'>
        <div class='popHead'>
          <p>Filter Rounds Logs</p>
          <button onclick='log_filter()'>
            X </button>
        </div> 

        <form action="" method="POST">
          {{ log_filter_form.hidden_tag() }}

          <p>&#128572; {{ log_filter_form.player() }}</p>
          <p>🏜️ {{ log_filter_form.title() }}</p>
          <p>&#128467; {{ log_filter_form.date() }}</p>

          <div class='pageLink submitBtn' >
            {{ log_filter_form.apply_log_filter() }}</div>
        </form> 
      </div>
    </div>



    {# Logs List #}

    {% set m = logs|length %}
    {% if m == 0 %}
      <p style='color: var(--t-white); '>No logs found for this filter 👀</p>
    
    {% else %} 
      <div id='logs'>
        <p>⏷ Click on a game to open details ⏷</p>   
        <div id='logList'>
          <table>
            <tr>
              <th>🗓</th>
              <th>😼</th>
              <th>🧮</th>
              <th>🖉</th>
            </tr>

            {% for i in range(m) %}
              {% set color = logs[i][7] %}
              
              <tr class='rowLinkRow' style='{{ color }}'>
                <td style='border-top-left-radius: 5px; border-bottom-left-radius: 5px;'>
                  <a href='/dice/{{ logs[i][0] }}'
                    aria-label={row.original.url} class="rowLink"></a>
                    {{ m - i }}<br>{{ logs[i][1] }}</td>
                <td>🎀 <b>{{ logs[i][2] }}</b> <br>{{ logs[i][4] }}</td>
                <td>{{ logs[i][8] }}</td>
                <td style='border-top-right-radius: 5px; border-bottom-right-radius: 5px;'>
                  {{ logs[i][6] }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    {% endif %}
  </section>



{% else %}
  {# Giphy Content #}
  <section id='statsMain' class='fullDiv'>  
    <div class='giphyBg'
        style='background-image: url("\
        https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjEx\
        M3YwYTFtMHNkaGRxZm1tbzQwM2xzbW10Z244d20xazYxbDQwZm\
        ZtYiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9\
        Zw/cOo3aeD9Jzxh6/giphy.gif");'>

        <p style='font-size: 4rem; color: var(--s-yellow);'>
          Nothing there yet ...</p>
    </div>
  </section>
{% endif %}

{% endblock %}
