
{% set page_html = page %}
{% extends page[0] %}


{% block content %}



{# CSS & JS #}
<link rel="stylesheet" href="../static/styles_stats.css">
<link rel="stylesheet" href="../static/styles_games.css">
<script src='../static/puzzle_stats.js'></script>

{# Header #}
<section class="statsHeader">
  <h1>Game Statistics</h1>
  <a class='mainLink' href="/">&#10149; Home</a>
  <a class='mainLink' href="/puzzle">&#10149; Puzzles</a>
  
  <div>
    {% for i in range(modes_info|length) %}
      {% if modes[i]  == 'puzzle' %}
        <a id="modeLinkActive"  
          class="modeLink" href="/statistics">
          <img height='50px' class='inlineImg'
            src={{ modes_info[i][5] }}
            style='margin-bottom: 10px;'><br> 
              {{ modes[i]  }} </a>
      {% else %}
        <a class="modeLink" href="/stats/{{ modes[i]  }}">
          {{ modes[i]  }} </a>
      {% endif %}
    {% endfor %}
  </div>
</section>


{% if n != 0 %}

  <a href='#filterDiv' style='display: block; margin: 15px auto; width: fit-content;'>
    &#x25BE; go to logs  &#x25BE;</a>

  {# Chart area #}

  <section class='fullDiv' style='background-color: var(--c-deep-blue-tr)'>  
    <h2><span style='background-color: white; color: black;'>
        Puzzle Analytics</span></h2>


    <h3><span style='color: white; text-decoration: underline;'>
      <br> Puzzles Logged</span></h3>

    {% set width_charts = 400 + (charts[0][0]|length * charts[0][1]|length * 40) %}

    <p style='color: var(--t-white);'>
      {% for p in range(charts[0][1]|length) %}
        <span style='color: {{ charts[0][2][p][0] }}; font-weight: bold;'>
          {{ charts[0][1][p] }}: {{ charts[1][0][p] }}
        </span> &emsp;
      {% endfor %}
    </p>
    
    <div class='midDiv'>
      <div style='height: 100%; max-width: {{ width_charts }}px' class='canvasDiv'>
        <canvas id="logsChart"></canvas>
        <script>
          logs_chart( 
            {{ charts[0][0] |safe }},
            {{ charts[0][1] |safe }},
            {{ charts[0][2] |safe }},
            {{ charts[2][0] |safe }});
        </script>    
      </div>  
    </div>


    <h3><span style='color: white; text-decoration: underline;'>
      <br> Player Speed</span></h3>

    <p style='color: var(--t-white);'>
      Minutes per piece<br>([min-max] range of average speeds for all puzzle sizes):<br>
      {% for p in range(charts[0][1]|length) %}
        <span style='color: {{ charts[0][2][p][0] }}; font-weight: bold;'>
          {{ charts[0][1][p] }}: {{ charts[1][1][p] }}
        </span> &emsp;
      {% endfor %}
    </p>

    <div class='midDiv'>
      <div style='height: 100%; max-width: {{ width_charts }}px' class='canvasDiv'>
        <canvas id="playerSpeedChart"></canvas>
        <script>
          player_speed_chart( 
            {{ charts[0][0] |safe }},
            {{ charts[0][1] |safe }},
            {{ charts[0][2] |safe }},
            {{ charts[2][1] |safe }});
        </script>    
      </div>  
    </div>
      

    <h3><span style='color: white; text-decoration: underline;'>
      <br> Compare Puzzles</span></h3>

    <p style='color: var(--t-white);'>
      Minutes per piece:<br>
      {% for p in range(charts[0][3]|length) %}
        <span style='color: {{ charts[0][4][p][0] }}; font-weight: bold;'>
          {{ charts[0][3][p] }}: {{ charts[1][2][p] }}
        </span> &emsp;
      {% endfor %}
    </p>

    <div class='midDiv'>
      <div style='height: 100%; max-width: {{ width_charts }}px' class='canvasDiv'>
        <canvas id="puzzleSpeedChart"></canvas>
        <script>
          puzzle_speed_chart( 
            {{ charts[0][0] |safe }},
            {{ charts[0][3] |safe }},
            {{ charts[0][4] |safe }},
            {{ charts[2][2] |safe }});
        </script>  
      </div>  
    </div>

  </section>



  {# Logs #}

  <section class='midDiv'>  
    <h2><span style='background-color: white; color: var(--c-blue-dark);'>
      All puzzles finished</span></h2>
    <a href='/puzzle#filterDiv' style='padding-bottom: 30px; display: block;'>
      &#10149; Edit puzzles or logs here</a>

    
    {# Logs Filter #}

    <div id='filterDiv'>

      {% if filter != "all" %}

        {% if filter[3] != "" %}
            <p>🗓 {{ filter[3] }}</p>
        {% endif %}
        {% if filter[1] != "" %}
            <p>🏜️ {{ filter[1] }}</p>
        {% endif %}
        {% if filter[2] != "" %}
            <p>🧩 {{ filter[2] }}</p>
        {% endif %}
        {% if filter[0] != "" %}
            <p style='border-color: {{ filter[0][1] }}c9;'> 
            😼  {{ filter[0][0] }}</p>
        {% endif %}
        
        <a class='pageLink puzzleBtn' href="/puzzle#filterDiv">
          <span style='color: var(--s-red); font-weight: bold;'>X</span> 
          Reset</a>

      {% elif filter == 'all' %}     
        <p style="text-align: center; color: white; height: auto; border: none;">
          Here are all the puzzle times, which 
          <span style='text-transform: uppercase;'><b>{{ page[2] }}</b></span> 
          has finished & logged:
        </p>
      {% else %}
        <p style="text-align: center; color: white; height: auto; border: none;">
          No results for this filter 👀</p>
      
      {% endif %}

      <button class='pageLink puzzleBtn' onclick='puzzle_log_filter()'>
        🔍 Filter</button>

    </div>    


    <div id='puzzleLogFilter' class='popUp'>
      <div class='popUpContent'>
        <div class='popHead'>
          <p>Filter Puzzle Logs</p>
          <button onclick='puzzle_log_filter()'>
            X </button>
        </div> 

        <form action="" method="POST">
          {{ puzzle_log_filter_form.hidden_tag() }}

          <p>&#128572; {{ puzzle_log_filter_form.player() }}</p>
          <p>&#129513; {{ puzzle_log_filter_form.size() }}</p>
          <p>🏜️ {{ puzzle_log_filter_form.puzzle() }}</p>
          <p>&#128467; {{ puzzle_log_filter_form.date() }}</p>

          <div class='pageLink submitBtn' >
            {{ puzzle_log_filter_form.apply_puzzle_log_filter() }}</div>   

        </form>
      </div>
    </div>


  {# Logs List #}
  {# 0:game_id, 1:date, 2:winner, 3: player color #}
  {# 4:puzzle title, 5:pcs, 6:time, 7:comment #}    

  {% set m = logs|length %}
  {% if m == 0 %}
    <p style='color: var(--t-white);'>No logs found for this filter 👀</p>
  
  {% else %}
    <div id='puzzleLogList' style='background-color: var(--b-dark-tr);'>
        <table>                
          <thead>
              <tr>
                  <th>&#128467;</th>
                  <th>&#129513;</th>
                  <th>&#128572;</th>
                  <th>&#128393;</th>
              </tr>
          </thead>

          {% for i in range(m) %} 
            <tr>
              <td>{{ m - i }} <br>
                <b>{{ logs[i][1] }}</b> </td>
              <td style='color: {{ logs[i][3] }};'>
                {{ puzzles['title'].iloc[logs[i][4] - 1] }}<br>
                <b> {{ logs[i][5] }}</b> </td>
              <td style='color: {{ logs[i][3] }}'> {{ logs[i][2] }} <br>
                <b>{{ logs[i][6] }}</b> </td>
              <td style='color: var(--c-grey)'> {{ logs[i][7] }} </td>
            </tr>
          {% endfor %}
        </table>
      </div>

    </section>
  {% endif %}


{% else %}

  {# Giphy Content #}

  <section id='statsMain' class='fullDiv'>  
    <div class='giphyBg'
        style='background-image: url("\
        https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjEx\
        M3YwYTFtMHNkaGRxZm1tbzQwM2xzbW10Z244d20xazYxbDQwZm\
        ZtYiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9\
        Zw/cOo3aeD9Jzxh6/giphy.gif");'>

        <p style='font-size: 4rem; color: var(--s-yellow);'>
          Nothing there yet ...</p>
    </div>
  </section>

{% endif %}

{% endblock %}
