
{% set page_html = page %}
{% extends page[0] %}


{% block content %}


{# CSS #}
<link rel="stylesheet" href="../static/styles_stats.css">
<style type="text/css">
  body {background-image: var(--b-grade-4) !important;}
</style>



{# Header #}
<section class="statsHeader">

  <h1>Game Statistics</h1>

  <a class='mainLink' href="/">>>>  Home & Play  <<<</a>

  <p>Select a mode to inspect:</p>

  <div>
    {% for i in range(modes_info|length) %}
      <a class="modeLink" 
      href="/stats/{{ modes[i] }}">
        <img height='50px' class='inlineImg'
        src={{ modes_info[i][5] }}
        style='margin-bottom: 10px;'><br> 
        {{ modes[i] }}  
      </a>
    {% endfor %}
  </div>
</section>


{# Giphy Content #}
<section id='statsMain' class='fullDiv'>  
  <div class='giphyBg'
      style='background-image: url("https://media3.giphy.com/media/v1.\
        Y2lkPTc5MGI3NjExMDZ4N3MxZWhmdXE1ZHdocDR0cmdsenYzeWRlZmo4MmMwc3lu\
        YmVkayZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/HPu8bxH13Zr1sAHWe3/giphy.gif");'>
  </div>
</section>


{% endblock %}
