
{% set page_html = page %}
{% extends page[0] %}


{% block content %}



{# CSS #}
<link rel="stylesheet" href="../static/styles_stats.css">



{# Header #}
<section class="statsHeader">

  <h1>Game Statistics</h1>
  <a class='mainLink' href="/">>>>  Home & Play  <<<</a>
  
  <div>
    {% for i in range(modes_info|length) %}
      {% if modes[i]  == 'rounds' %}
        <a id="modeLinkActive"  
          class="modeLink" href="/statistics">
          <img height='50px' class='inlineImg'
            src={{ modes_info[i][5] }}
            style='margin-bottom: 10px;'><br> 
              {{ modes[i]  }} </a>
      {% else %}
        <a class="modeLink" href="/stats/{{ modes[i]  }}">
          {{ modes[i]  }} </a>
      {% endif %}
    {% endfor %}
  </div>



</section>

{% set n = logs|length %}
{% if n > 0 %}

  <a href='#logs' style='display: block; margin: 15px auto; width: fit-content;'>
    &#x25BE; go to logs  &#x25BE;</a>

  {# Chart area #}
  <section class='fullDiv' style='background-color: var(--c-deep-blue-tr)'>  

    <h2><span style='background-color: white; color: black;'>
        Rounds Analytics</span></h2>

    
    <h3 style='color: white; text-decoration: underline;'>
      <br>Win Rates & Paticipation</h3>  
    
    
    {% if n > 2 %}
      <p>
        {% for p in range(winner_chart[1]|length) %}
        <span style='color: {{ winner_chart[2][0][p] }}; font-weight: bold;'>
          {{ winner_chart[1][p] }}:
          {{ winner_chart[4][p] }} | 
          {{ winner_chart[0][0][p] + winner_chart[0][1][p] }}
        </span> &emsp;
        {% endfor %}
      </p>

      <div class='midDiv'>
        <div style='height: {{winner_chart[3]}};' class='canvasDiv'>
          <canvas id="winnerBoard"></canvas>
          <script src='../static/rounds_stats.js'></script> 
          <script>
              updateWinners( 
                {{ winner_chart[1] |safe }},
                {{ winner_chart[2] |safe }},
                {{ winner_chart[0] |safe }},);
          </script>    
        </div>  
      </div>


    {% else %}
      <p style='color: var(--t-white); padding-bottom: 30px;'>
        No numbers, no stats ... analytics will show when 
        you have at least 3 logs.</p>
    {% endif %}

  </section>



  {# Logs List #}

  <section class='midDiv'>  
    <h2><span style='background-color: white; color: var(--c-blue-dark);'>
      All Rounds Logged</span></h2>
    <p>Click on a game to open the game details:</p>    

    <div id='logs'>

      
      {% for i in range(n) %}
        <div class='log'>
        {% set color = logs[i][7] %}
          <a href='/rounds/{{ logs[i][0] }}'>


            <div style='min-width: 70px !important;'>
              <p class='logDesc'><span  class='listBold'>{{ n - i }}</span>
                <br>{{ logs[i][1] }}</p></div>
            <div><p><span  class='listBold'>{{ logs[i][3] }}</span>
                <br>({{ logs[i][5] }} rounds)</p></div>

            <div style='{{ color }}'>
              <p><span  class='logBold'>&#x1F3C6; {{ logs[i][2] }}</span>
                <br>{{ logs[i][4] }}</p>
            </div>
            <div><p> points:<br>{{ logs[i][8] }}</p></div>
            <div style='flex-grow: 1;'>
              <p class='logDesc'>{{ logs[i][6] }}</p></div>


          </a>
        </div>
      {% endfor %}
    </div>
  </section>



{% else %}
  {# Giphy Content #}
  <section id='statsMain' class='fullDiv'>  
    <div class='giphyBg'
        style='background-image: url("\
        https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjEx\
        M3YwYTFtMHNkaGRxZm1tbzQwM2xzbW10Z244d20xazYxbDQwZm\
        ZtYiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9\
        Zw/cOo3aeD9Jzxh6/giphy.gif");'>

        <p style='font-size: 4rem; color: var(--s-yellow);'>
          Nothing there yet ...</p>
    </div>
  </section>
{% endif %}

{% endblock %}
