
{% set page_html = page %}
{% extends page[0] %}


{% block content %}



{# CSS #}
<link rel="stylesheet" href="../static/styles_stats.css">



{# Header #}
<section class="statsHeader">

  <h1>Game Statistics</h1>
  <a class='mainLink' href="/">>>>  Home & Play  <<<</a>
  <a href='#diceLogs'>>>>  Go to list of all dice games  <<<</a>
  
  <div>
    {% for i in range(modes_info|length) %}
      {% if modes[i]  == 'dice' %}
        <a id="modeLinkActive"  
          class="modeLink" href="/statistics">
          <img height='50px' class='inlineImg'
            src={{ modes_info[i][5] }}
            style='margin-bottom: 10px;'><br> 
              {{ modes[i]  }} </a>
      {% else %}
        
        <a class="modeLink" href="/stats/{{ modes[i]  }}">
          {{ modes[i]  }} </a>
      {% endif %}
    {% endfor %}
  </div>



</section>




{% if false %}

  {# Chart area #}
  <section class='fullDiv' style='background-color: var(--c-deep-blue-tr)'>  

    <h2><span style='background-color: white; color: black;'>
        Dice Analytics</span></h2>

    <h3><span style='color: white; text-decoration: underline;'>
      <br> Winner Board</span></h3>

    <p style='color: white;'>
      Not yet available.</p>

  </section>



  {# Logs List #}

  <section class='midDiv'>  
    <h2><span style='background-color: white; color: var(--c-blue-dark);'>
        All puzzles finished</span></h2>

    
    <div id='dcLogs'>
      <p style='color: var(--t-white); padding-bottom: 30px;'>
        Not yet available.</p>
      
    </div>
  </section>





{% else %}
  {# Giphy Content #}
  <section id='statsMain' class='fullDiv'>  
    <div class='giphyBg'
        style='background-image: url("\
        https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjEx\
        M3YwYTFtMHNkaGRxZm1tbzQwM2xzbW10Z244d20xazYxbDQwZm\
        ZtYiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9\
        Zw/cOo3aeD9Jzxh6/giphy.gif");'>

        <p style='font-size: 4rem; color: var(--s-yellow);'>
          Nothing there yet ...</p>
    </div>
  </section>
{% endif %}

{% endblock %}
